    #divbox{
        z-index: 200;
        position:absolute;
        top:350px;
        left:130px;
    }
	.province {
		stroke: black;
		stroke-width: 1px;
	}
    #Galápagos{
        transform: translate(1000px,50px) scale(0.5,0.5);
    }
    #salesName g text{
        transform:rotate(-65deg);
    }
    .axis path,
    .axis line{
	    fill: none;
	    stroke: gray;
        stroke-width: 2px;
	    shape-rendering: crispEdges;
    }
    .axis text {
	    font-family: sans-serif;
	    font-size: 11px;
    }
    .graticule {
		fill: none;
		stroke: #333;
		stroke-width: 1px;
	}